---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*header{

  background-color: yellow;
}
main{
  background-color: cyan;
}

footer{
  background-color: pink;
}*/

.wrapper{
  padding: 0 40px;

}

body{
  font-family: "Helvetica",sans-serif;
  background-color: #fefefe;
}
body > header{
  padding: 20px 0;
}

.site-title{
  float:left;
  margin:0;
}

.site-title a{
  text-decoration: none;
  color:darkgreen;
}

.site-nav{
  float:right;
}

.site-nav a{
  text-decoration: none;
  color:#444;
}




.site-nav ul {
  list-style: none;
  margin:0;
  padding:0;
}

.site-nav ul li{
  display: inline-block;
}

.site-nav ul li a{
  display: block;
  text-decoration: none;
  color:#444;
  font-weight: 700;
  padding: 4px 8px;

}

.site-title a{
text-decoration: none;
color:#444;

}
.clear{
  clear: both;
}

.posts{
  list-style: none;
  padding: 0;
}

.posts li {
  border-bottom:1px solid #666;
}

.posts li:last-child{
border-bottom: 0;
}
.posts li a {
  text-decoration: none;
  color:#666;
}

.posts h2 small {

  font-size: 60%;
}

.date{
  font-size:60%;
  color:#888;
  float:right;
}

.site-footer{
  color:#888;
  text-align: center;
  padding:20px;

}
