---
layout: default
---

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <small class="date"><em>{{ post.date | date: "%b %-d, %Y" }}</em></small>
        </h2>
        <p>
          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
           Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak
            üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        </p>



        <h2>

        </h2>
      </li>
    {% endfor %}
  </ul>
